.main {
    .hero-image {
        background-image: linear-gradient(to right, rgba( #098a9c,0.4),rgba(#62bdbe,0.4)),url(../../../images/city.jpg);
        background-position: center;
        height: 20rem;
        width: 100%;
    }
}