.favorites-controller {

    grid-area: favorites-controller;
    justify-self: end;

    svg {
        color: #fff;
        font-size: 3rem;
        margin-right: 1rem;
    }

    .btn {

        border-radius: 0.2rem;
        font-weight: bold;
        padding: 0.5rem 0.6rem;

        &-add {

            background: transparent;
            border: 4px solid #fff;
            color: #fff;
        }

        &-remove {
            background: #fff;
            color: #307685;
        }
    }

    @media screen and (max-width: 1215px) {

        justify-self: center;
        align-self: center;

    }
}